<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hospetter</title>

    <!-- CSS -->
    <link href="../css/_hospetter.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Google Font CDN -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    </style>

    <style>
      table {
        width: 100%;
        border-top: solid 1px black;
        
      }

      th, td{
        border-left: none;
        border-right: none;
        border-bottom: solid 1px black;
        border-top: solid 1px black;
      }
    </style>

    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body style = "background-color: #f8edeb;">
    <!-- top nav -->
    <nav class="navbar top-nav fixed-top">
        <div class="navbar-logo align-middle">
          <a id="nav-title" href="/" style="text-decoration: none;"><h2>Hospetter</h2></a>
        </div>

        <ul class="navbar-menu">
            <li><a href="/chat">
                <i class="bi bi-bell-fill"></i>
            </a></li>
            <li><a href="/login">
                <i class="bi bi-person-circle align-middle"></i>
            </a></li>
        </ul>
    </nav>

        <!-- Features section-->
        <section class="bg-custom-light py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="container" style="padding: 5%;"></div>

                <div class="row gx-5">
                    <h1>게시판</h1>
                </div>
                
                <div class="container" style="padding: 2%;"></div>

                <div class="container">
                    <div class="row">
                      <table class="table" style="width: 100%; font-size:1.25rem;">

                        <thead class="thead-dark">
                          <tr> 
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일자</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          <% if (users.contents.length != 0) { %>
                          <% users.contents.forEach(function(Users){ %>
                          <tr>
                            <td><a style="color:#F08080;"href="/board_detail?title=<%=Users.title%>&content=<%=Users.content%>&author=<%=Users.author%>&date=<%=Users.date%>"><%=Users.title%></a></td>
                            <td><%=Users.author%></td>
                            <td><p id="board_date"><%=Users.date%></p></td>
                            <script>
                              var dates = document.getElementById("board_date").innerHTML;
                              document.getElementById("board_date").innerHTML = dates.slice(0,10);
                            </script>
                          </tr>
                          <% }); %>
                          <% } else { %>
                          <tr>
                            <td>등록된 글이 없습니다.</td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="container" style="padding: 5%;"></div>

                  <% if (users.contents.length != 0) { %>
                  <div style="text-align: center;align-content: center;">
                    <div style="height: 10px; width: 45%;float: left; padding: 10px;"></div>
                    <ul class="pagination">
                      <li <%if(users.pageNum == 1){%> class="disabled" <%}else{%>class="waves-effect" <%}%> >
                       <a <%if(users.pageNum > 1){%> href="?pageNum=<%=users.pageNum-1%>" <%}%>>
                        <i class="bi bi-caret-left-fill"></i>
                       </a>
                     </li>
                    <% for(var i=users.pnStart; i<=users.pnEnd; i++){ %> <li <%if(i===users.pageNum){%> class="active"
                        <%}%>><a href="?pageNum=<%=i%>"><%=i%></a></li>
                      <% } %>
                      <li <%if(users.pageNum == users.pnTotal){%> class="disabled" <%}else{%> class="waves-effect" <%}%>>
                       <a <%if(users.pageNum < users.pnTotal){%> href="?pageNum=<%=users.pageNum+1%>" <%}%> class="waves-effect">
                      <i class="bi bi-caret-right-fill"></i>
                     </a>
                   </li>
                   </ul>
                  </div>
                  <% } %>

                  <div class></div>
        </section>

    <!-- bottom nav -->
    <nav class="navbar bottom-nav fixed-bottom">
        <ul class="navbar-menu" style="margin-left: auto; margin-right: auto;">
            <li><a href="/" style="text-decoration: none;"><i class="bi bi-house-fill"></i></a></li>
            <li><a href="/monitor" style="text-decoration: none;"><i class="bi bi-heart-pulse-fill"></i></a></li>
            <!--<li><a href="/reserve" style="text-decoration: none;"><i class="bi bi-calendar-week-fill"></i></a></li>-->
            <li><a href="/chat" style="text-decoration: none;"><i class="bi bi-person-plus-fill"></i></a></li>
            <li><a href="/board" style="text-decoration: none;"><i class="bi bi-view-list"></i></a></li>
        </ul>
    </nav>

</body>
</html>
