<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hospetter</title>

    <!-- CSS -->
    <link href="./css/_hospetter.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Google Font CDN -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

</head>
<body style = "background-color: #f8edeb;">
    <!-- top nav -->
    <nav class="navbar top-nav fixed-top">
        <div class="navbar-logo align-middle">
            <a id="nav-title" href="/" style="text-decoration: none;"><h2>Hospetter</h2></a>
        </div>

        <ul class="navbar-menu">
            <li><a href="/chat">
                <i class="bi bi-bell-fill"></i>
            </a></li>
            <li><a href="/login">
                <i class="bi bi-person-circle align-middle"></i>
            </a></li>
        </ul>
    </nav>

    <section class="bg-custom-light py-5 border-bottom" style = "height:100%;" id="features">
        <div class="container" style="padding-top:5%;"></div>

        <form class="login100-form validate-form flex-sb flex-w">
            <div class="form-group">
                반려동물의 이름:
                <input type="text" id="petid" class="form-control my-input" name="petid" placeholder="이름을 입력하시오.">
            </div>

            <div class="form-group">
                등록할 디바이스의 아이디:
                <input type="password" id="deviceid" class="form-control my-input" name="deviceid" placeholder="디바이스 아이디를 입력하시오.">
            </div>

            <div class="text-center">
                <button type="button" id="send-button" class="btn btn-block send-button tx-tfm" onclick="registPet();">등록하기</button>
            </div>
        </form>
    </section>


    <!-- bottom nav -->
    <nav class="navbar bottom-nav fixed-bottom">
        <ul class="navbar-menu" style="margin-left: auto; margin-right: auto;">
            <li><a href="/" style="text-decoration: none;"><i class="bi bi-house-fill"></i></a></li>
            <li><a href="/monitor" style="text-decoration: none;"><i class="bi bi-heart-pulse-fill"></i></a></li>
            <!--<li><a href="/reserve" style="text-decoration: none;"><i class="bi bi-calendar-week-fill"></i></a></li>-->
            <li><a href="/chat" style="text-decoration: none;"><i class="bi bi-person-plus-fill"></i></a></li>
            <li><a href="/board" style="text-decoration: none;"><i class="bi bi-view-list"></i></a></li>
        </ul>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"> 
        function registPet() { 
            var ajax = $.ajax({ 
                url: "/registpet", 
                data: "petid=" + $("#petid").val() + "&deviceid=" + $("#deviceid").val(), 
                type: 'POST', 
                success: function (result) { 
                if (result.code == 0) { 
                    // $("#login").hide(); 
                    // $("#loginout").show(); 
                    // $("#loginName").html(result.data.name); 
                    location.replace("/info");
                } else { 
                    alert(result.msg); 
                } 
            } 
        }); 
    } 
    </script>
</body>
</html>