<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hospetter</title>

    <!-- CSS -->
    <link href="./css/_hospetter.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Google Font CDN -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- d3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    
    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>
<body style = "background-color: #f8edeb;">
    <!-- top nav -->
    <nav class="navbar top-nav fixed-top">
        <div class="navbar-logo align-middle">
            <a id="nav-title" href="/" style="text-decoration: none;"><h2>Hospetter</h2></a>
        </div>

        <ul class="navbar-menu">
            <li><a href="/chat">
                <i class="bi bi-bell-fill"></i>
            </a></li>
            <li><a href="/login">
                <i class="bi bi-person-circle align-middle"></i>
            </a></li>
        </ul>
    </nav>

        <!-- Features section-->
        <section class="bg-custom-light py-5 border-bottom" id="features">
            <div class="container px-5 my-5" style="padding-top: 15%;">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-lg-0">
                        <h2 class="h4 fw-bolder">
                            <p>
                                <br><i class="bi bi-thermometer-high"></i> 체온
                                <p id="pet_temp">loading...</p>
                            </p>
                        </h2>
                    </div>
                    
                    <div class="col-lg-4 mb-lg-0">
                        <h2 class="h4 fw-bolder">
                            <p style="display: inline-block; width: auto"> 
                                <p id="kcal"><i class="bi bi-flower3"></i> 활동량 :25kcal</p>
                                <p id="kcal_eval">현재 활동량은 <span style="color:red;">휴식</span>입니다.</p>
                            </p>
                        </h2>
                    </div>

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h2 class="h4 fw-bolder">
                            <p>
                                <br><i class="bi bi-heart-pulse-fill"></i> 심박 그래프
                            </p>
                            <canvas id="myChart" width="100%" height="50%"></canvas>
                            <script>
                                var now_temp;
                                var now_accel;
                                var now_ecg_dat;
                                var now_ecg_label;

                                $('document').ready(function () {
                                    setInterval(function () {getRealData()}, 1000);
                                    
                                }); 
                                
                                function getRealData() {
                                    $.ajax({
                                        type: 'get' , 
                                        url: 'savedat.json' , 
                                        dataType : 'json' , 
                                        success: function(data) {
                                            console.log(data["temp"]);
                                            now_temp = data["temp"];
                                            $('#pet_temp').html(now_temp + "°C");

                                            console.log(data["accel"]);
                                            now_accel = data["accel"];

                                            console.log(data["ecg_amount"]);
                                            console.log(data["ecg"]);
                                            now_ecg_dat = data["ecg"];

                                            var ctx = document.getElementById('myChart').getContext('2d');
                                            var myChart = new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    datasets: [{
                                                        backgroundColor: [
                                                            'rgba(0, 0, 0, 0)'
                                                        ],
                                                        borderColor: [
                                                            'rgba(255, 99, 132, 1)',
                                                        ],
                                                        borderWidth: 1,
                                                        pointStyle: 'circle',
                                                        pointRadius: 0,
                                                    }]
                                                },
                                                options: {
                                                    legend:{
                                                        display: false
                                                    },
                                                    label: {
                                                        display: false
                                                    },
                                                    animation: {
                                                        duration: 0
                                                    }, 
                                                    title: {
                                                        display: false
                                                    },
                                                    scales: {
                                                        yAxes: [{
                                                            display: false,
                                                            ticks: {
                                                                beginAtZero: true
                                                            }
                                                        }],
                                                        xAxes: [{
                                                            display: false
                                                        }]
                                                    }
                                                }
                                            });
                                            
                                            var frame_duration = 1000;
                                            var i=0;
                                            d3.interval(
                                                function(){
                                                    myChart.data.labels = now_ecg_dat;
                                                    myChart.data.datasets[0].data = now_ecg_dat;
                                                    myChart.update();
                                                }, 
                                                0
                                            );
                                        } 
                                    });
                                }
                            </script>
                        </h2>
                    </div>
                </div>
            </div>
        </section>

    <!-- bottom nav -->
    <nav class="navbar bottom-nav fixed-bottom">
        <ul class="navbar-menu" style="margin-left: auto; margin-right: auto;">
            <li><a href="/" style="text-decoration: none;"><i class="bi bi-house-fill"></i></a></li>
            <li><a href="/monitor" style="text-decoration: none;"><i class="bi bi-heart-pulse-fill"></i></a></li>
            <!--<li><a href="/reserve" style="text-decoration: none;"><i class="bi bi-calendar-week-fill"></i></a></li>-->
            <li><a href="/chat" style="text-decoration: none;"><i class="bi bi-person-plus-fill"></i></a></li>
            <li><a href="/board" style="text-decoration: none;"><i class="bi bi-view-list"></i></a></li>
        </ul>
    </nav>

    
</body>
</html>